* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Light/Dark Mode */
body {
  background-color: var(--gray-100);
  color: var(--gray-800);
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: var(--dark-bg);
  color: var(--gray-300);
}